#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}
.align_user {
  align:"left";
  font-style: bold;
  color:red;
  text-transform: uppercase;
}

.repo_style {
  color:green;
}